*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:black;
}

.calculator{
    background:#1b1b1b;
    padding:20px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(255,255,255,0.1);
}

#display{
    width:100%;
    height:70px;
    margin-bottom:15px;
    border:none;
    outline:none;
    border-radius:10px;
    background:#eaeaea;
    text-align:right;
    padding:10px;
    font-size:28px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,70px);
    gap:10px;
}

button{
    height:60px;
    border:none;
    border-radius:10px;
    font-size:22px;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    transform:scale(1.05);
}

/* Number Buttons */

.number{
    background:#00e5ff;
    color:black;
}

/* Operator Buttons */

.operator{
    background:orange;
    color:white;
}

/* AC Button */

.clear{
    background:red;
    color:white;
}

/* DEL Button */

.delete{
    background:gray;
    color:white;
}

/* Equal Button */

.equal{
    background:limegreen;
    color:white;
    grid-column:span 4;
}
